/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
    background-color: red;
      color:blue;
  width: 100% ;
  margin: 2 2 10 2;
}

h1, h2 {
    background-color: red;
  font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
    margin:0 0 0 0;
  font-size: 4rem;
  text-align: center;
    
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */
section{
    text-align: center
}
section article {
  width: 30%;
  float: left;
    margin-left: 2%
}

section p {
  margin: 5px 0;
  text-align: left;
}

section ul {
  margin-top: 0;
    text-align: left;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}
