/*This is the main file css*/
body {
    font-family: 'Alegreya Sans', sans-serif; 
    background-color:#49392c;
}
main, header, footer{
    width:100%;
}
.logo{
    position: absolute;
    width:20% ;
    margin: 0 0 0 0;
    
}
header h1{
    text-align: center;
}
.container{
    position: relative;
    text-align: center;
    margin: 0 0 0 0;
    color:#FFF;
}
.titleImg img{
    position: relative;
    float:right;
    width: 100%;
    height: 400px;
    
}
.title{
    position: absolute;
    font-size: 50px;
    text-align: center;
    color:#fff;
    top: 20px
}
.button{
    position: absolute;
    top:3px;
    left:3px;
    width:50px;
    height: 50px;
    color:#fe9920;
}
nav button div{
    width: 45px;
    height: 8px;
    background-color: #fe9920;
    margin: 6px 0;
}
nav{
    list-style-type:none;
    width:100%;
	float:right;
	background:#566e3d;
}
nav ul{
    list-style-type:none;
	top:15px;
    
    right: 0px;
	margin:0px;
	padding:0px;
	list-style:none;
}

nav li {
	width:100%;
    font-size: 35px;
	text-align:center;
	padding:30px;
	float:left;
}
nav ul li a .hover{
    color: #Fe9920;
    background-color:black;
}
nav ul li a {
	color:#fe9920;
	text-decoration:none;
	text-shadow:0px 0px 1px #100; 
}
.active{
    background-color: #b9a44c;
}
.hide{
    display:none;
}
/*--------------------home page-------------------------*/
.background h1{
    position:absolute;
    left:10px;
    bottom:70rem;
    color: #Fa7921;
    font-size: 75px;
    text-align: left;   
}
.background img{
    width:100%;
    
}
.salesItem p{
    font-size: 75px;
    display: inline;
    color:#fa7921;
    position:absolute;
    text-align: center;
    bottom:3rem;
    filter: grayscale(0%);
}
.salesItem img{
    width: 100%;
    
}
/*----------------------Tours page------------------------*/

.tours{
    position:relative;
}
.tours h1{
    font-size: 40px;
    margin:0 0 0 0;
    color:#fe9920;
    text-align: center;
}
.tours div img{
    left:2px;
    width:50%;
    border-radius: 2em;
}
.tours h3{
    margin-left: 4px;
    display: block;
    color:#fe9920;
    font-size: 30px; 
}
.tours ul{
    display: block;
    float:right;
    margin-right: 6%;
    color:white;
    font-size:25px
}
/*----------------------Events page----------------------*/
.event{
    font-size: 2em;
}
.event h1{
    text-align: center;
    color:#fe9920;
}
.event h2{
    font-style: italic;
    text-align: center;
    color:#fe9920;
}
.route{
    color:#fe9920
}
.event p{
   color:#fe9920 
}
.requirments{
    color:#fe9920
}
form#eventsCenter{
   margin:2em 3%; 
}

fieldset {
    background-color:#b9a44c;
    border-radius: .4em;
    margin:1.01em 1.01em 1.01em 1.01em;
    border:#fa7921 solid 3px;
}

label{
    display:block;
    margin:.5em;
    width: 50%;
   
}
textarea{
    width:150%;
    height: 150%;
}
label span{
    display: block;
    font-size: 1.2em;
    color: #49392c;
    padding-top: .7em;
    padding-bottom: .2em;    
}
input.submitStorm{
    
    color:#111;
    
    border:solid 4px #fa7921;
    border-radius:7px;
    width: 50%;
    margin:.9em 0 7% 25%;
    font-size: 1.2em;
    padding:.6em;
    background:#b9a44c;
    box-shadow: 4px 4px 10px #666;
        
}
/*----------------------Events thankyou page-------------*/
.thankyou{
    position: relative;
    color:#fe9920;
    text-align: center;
    font-size: 3em;
    margin-bottom:45%; 
}
/*----------------------sales page----------------------*/

.brands img{
    background-color:white;
     width:100%; 
     }
.bikes p{
    text-align: center;
    color:#fa7921;
}
.bikes ul li{
    color:white;
}
.bikes img{
    width:100%;
}
/*----------------------service page--------------------*/
         table{
            margin-left: 2%;
             border: 1px solid #dddddd;
             border-collapse: collapse;
             width: 100%;
             height: 100%;
           text-align: left
        }
        td, th{
            border: 1px solid #dddddd;
              
        } 
.service{
    text-align: center;
    padding: 1%
            }
/*----------------------contact page--------------------*/
.contactForm{
    position:relative;
    width:97%;
}
 .contacts h1{
   color:#fe9920 
}
iframe {
    width:97%;
}
.contacts{
    
    color:#fe9920
}
fieldset {
    background-color:#b9a44c;
    border-radius: .4em;
    margin:1.01em 1.01em 1.01em 1.01em;
    border:#fa7921 solid 3px;
}
label{
    display:block;
    margin:.5em;
    width: 90%;
   
}
textarea{
    width:150%;
    height: 150%;
}
label span{
    display: block;
    font-size: 1.2em;
    color: #49392c;
    padding-top: .7em;
    padding-bottom: .2em;    
}
input.SubmitQuestion{
    color:#111;
    border:solid 4px #fa7921;
    border-radius:7px;
    width: 94%;
    margin:0 0 1% 2%;
    font-size: 1.2em;
    padding:.6em;
    background:#b9a44c;
    
        
}
/*----------------------contact thankyou page-------------*/
aside{
    position: relative;
    text-align: center;
    background-color: #566e3d;
    color:#b9a44c;
    padding: 2px;
}
footer{
    position:relative;
    font-size:25px;
    margin:0;
    width: 100%;
    background-color: #49392c;
    color:#Fa7921;
    bottom:0px;
    
}