@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
  nav button { display:none; }  /* hamburger button does not need to be shown */
  
  section.forecast { display: table-cell; }  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { width: 62.666%; float:right; }  /* responsive images */
 
    footer{
        
    }
/*Gallery Grid*/
 .pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%
    }
    .pictures img{
     width:100%;   
    }   
}
/*-----------------Main Page-----------------------
section.thetowns article {
    background-color:#ccf1f6 ;
    border: 1px solid #122034;
    float:left; 
    margin: .3em;
    display: grid;
    height: 400px;
    max-width: 50%;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    justify-content: center;
    border-radius: 2em;
    
  }
section.thetowns h2 {
    clear: right;
    text-align: center;
    color: #122034;


}
section.thetowns p {
   margin: 0;
    text-align: center;
    color: #111;
    

}
section.thetowns li {
    justify-content: left;
    width: 98%;
    color: #111;
}--*/